<table class="m-6 box-shadow-blue outline-blue-md">
  <thead>
    <tr>
      <th></th>
      {{#each this.rows as |row|}}
        <th class="text-center select-none p-1">{{row}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.rows as |row r|}}
      <tr>
        <th class="text-center select-none p-1">{{get this.cols r}}</th>
        {{#each this.cols as |col c|}}
          <Square @fire={{this.player.fire}} @col={{c}} @row={{r}} @ships={{this.player.board.ships}} @shots={{this.player.board.shots}} @showShips={{@showShips}}/>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>